@{
  Layout = "_Layout";
}

<div class="container">
<h2>Clinic homepage</h2>
<h3><a href="/doctors">Doctors</a></h3>
<h3><a href="/patients">Patients</a></h3>
<h3><a href="/specialties">Specialties</a></h3>

</div>
