@using Clinic.Models;
@{
  Layout = "_Layout";
}

<h1>Doctor: @Model["doctor"].GetName()</h1>

<h2>Specialties</h2>
<ul>
@foreach (var specialty in @Model["doctorSpecialties"])
{
    <li><a href="/specialties/@specialty.GetId()">@specialty.GetName()</a></li>
}
</ul>
<h2>Patients List</h2>



<div class="container">
<h2>Clinic homepage</h2>
<h3><a href="/doctors/@Model["doctor"].GetId()/patients/new">Add patient</a></h3>
<h3><a href="/specialties">Specialties</a></h3>

</div>
